<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<body>
	<nav th:replace="layouts :: navbar"></nav>
	<div class="container">
		 <h1><span th:if="${employee.employeeId==null}">Create Employee</span>
                     <span th:if="${employee.employeeId != null}">Update Employee</span></h1>
		<form th:action="@{/employees/save}" method="post"
			th:object="${employee}">
                    <!-- This will be used to bind to the employee that was clicked on USED FOR UPDATES -->
                    <input type="hidden" th:field="${employee.employeeId}">
			<div class="form-group">
				<label for="firstName">First Name</label> <input type="text"
					class="form-control" th:field="${employee.firstName}"
					placeholder="First Name">
				<div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="alert alert-danger" role="alert">
					First Name Error</div>
			</div>
			<div class="form-group">
				<label for="lastName">Last Name</label> <input type="text"
					class="form-control" th:field="${employee.lastName}"
					placeholder="Last Name">
					<div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-danger" role="alert">
					Last Name Error</div>
			</div>
			<div class="form-group">
				<label for="email">Email</label> <input type="email"
					class="form-control" th:field="${employee.email}"
					placeholder="Email">
					<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger" role="alert">
					Email Error</div>
			</div>

			<button type="submit" class="btn btn-primary">Create
				Employee</button>

		</form>
	</div>
	<div th:replace="layouts :: footer"></div>
</body>
</html>